[Unit]
Description=Random Consortium's Certificate Bot Daemon
After=network.target

[Service]
Type=simple
User=randbotd
Group=randbotd
ExecStart=/usr/bin/randbotd --mode=headless
Restart=on-failure
WorkingDirectory=/var/lib/randbotd
StateDirectory=randbotd
StateDirectoryMode=0750
ConfigurationDirectory=randbotd
ConfigurationDirectoryMode=0750
LoadCredentialEncrypted=masterpass:/etc/randbotd/masterpass.cred

[Install]
WantedBy=multi-user.target
